.settings {
  //.scan-progress-bar {
  //  padding-top: 0 !important;
  //  padding-bottom: 8px !important;
  //}
}

.settings-popover {
  position: absolute !important;
  left: auto !important;
  top: 10px !important;
  right: 10px;
  z-index: 1400 !important;
}