.system-progress {
  width: 650px;
  height: 54px;
  text-align: left;
  display: inline-block;
  pointer-events: all;
  overflow: hidden !important;
  .system-progress-header {
    display: inline-block !important;
    * {
      padding: 0 !important;
    }
    margin-right: 20px;
    .target-icon {
      display: inline-block !important;
    }
    .target-title {
      vertical-align: top;
      color: white;
      font-size: 16px;
      position: relative;
      top: 5px;
      left: 10px;
    }
  }
  .system-progress-bar-container {
    display: inline-block;
    .system-progress-bar {
      padding: 0 !important;
      display: inline-block !important;
      width: 200px;
      vertical-align: middle;
      //top: -4px;
      span {
        max-height: 32px;
      }
    }
  }
  .system-progress-actions {
    float: right;
    display: inline-block !important;
  }
}
