.top-bar {
  position: relative;
  * {
    font-weight: 100 !important;
  }
  .app-header {
    .app-title {
      font-size: 15px;
    }
  }
}

.system-progress-popover {
  position: absolute !important;
  left: 20px !important;
  top: auto !important;
  right: 20px;
  bottom: 0;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  text-align: center;
  pointer-events: none;
  //opacity: 0.9 !important;
}
