.app {
  height: 100%;
  overflow: hidden;
  .app-layout {
    height: calc(100% - 64px);
    background-color: rgb(237, 236, 236);
    display: flex;
    flex: 1 1 0;
    overflow: hidden;
    .left-drawer-menu {
      flex: 0 0 300px;
      margin-left: -300px;
      order: -1;
      transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      &.open {
        flex: 0 0 300px;
        margin-left: 0;
      }
      .left-drawer-menu-item {
        &.selected {
          background: lightgray !important;
        }
      }
    }
    .app-content {
      overflow: auto;
      overflow-x: hidden;
      flex: 1 1 0;
      border-left: 1px solid lightgray;
      //padding: 2em;
    }
    &.full-screen {
      height: 100%;
    }
  }
  .main-info-bar {
    transform: translate(-50%, -48px) !important;
    bottom: auto !important;
    top: -100px !important;
    &.open {
      transform: translate(-50%, 0) !important;
      top: 0 !important;
    }
    div:first-child {
      max-width: 700px !important;
    }
  }
}


.annotorious-editor {
  border: none !important;
  box-shadow: 0 0 15px grey !important;
  border-radius: 4px !important;
  textarea {
    font-family: Roboto, serif !important;
    font-weight: 100 !important;
  }
  &:after {
    display: none !important;
  }
}

.annotorious-editor-button-container {
  .annotorious-editor-button {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 0 10px grey !important;
    background: lightgrey !important;
    color: black !important;
    font-family: Roboto, serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    outline: none !important;
    cursor: pointer !important;
    text-decoration: none !important;
    &.annotorious-editor-button-save {
      background: #00bcd4 !important;
      color: white !important;
    }
    &:hover {
      opacity: 0.7 !important;
    }
  }
}
