.error-page {
  text-align: center;
  color: gray !important;
  .error-page-icon {
    width: 400px !important;
    height: auto !important;
    color: gray !important;
  }
  h1, h2 {
    font-weight: 400 !important;
  }
}